import(Rcpp)
import(methods)
import(ggplot2)
import(dplyr)
import(tidyr)
import(purrr)
importFrom(rstan, sampling)
importFrom(rstan, summary)
importFrom(MCMCpack, rdirichlet)
importFrom(MASS, mvrnorm)
importFrom(scales, muted)
importFrom(stats, model.frame)
importFrom(stats, model.matrix)
importFrom(stats, model.response)
importFrom(stats, quantile)
importFrom(stats, pnorm)
importFrom(stats, qbeta)
importFrom(stats, runif)
importFrom(stats, plogis)
importFrom(stats, qlogis)
export(bayes_zoib)
export(plot_ppc)
export(plot_zoib_sensitivity)
export(zoib_mediate)
export(summary_zoib)
export(traceplot_zoib)
export(zoib_ppc)
export(zoib_sensitivity)
useDynLib(ZOIBMediation, .registration = TRUE)
