import(Rcpp)
import(methods)
import(ggplot2)
import(dplyr)
import(tidyr)
import(purrr)
importFrom(rstan, sampling)
importFrom(rstan, summary)
exportPattern("^[[:alpha:]]+")
useDynLib(ZOIBMediation, .registration = TRUE)
